body{
   display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 90%;
    background-position: cover;
  }
  .container{
    height: 300px;
    width: 500px;
  }
  form {
      max-width: 600px;
      margin: auto;
      padding: 20px;
      border: 2px solid #ddd;
      border-radius: 15px;
      font-family: Arial, sans-serif;
      background-color: #fff;
    }
    
    .title {
      text-align: center;
      margin-bottom: 20px;
    }
    
    .title h1 {
      font-size: 32px;
      margin-bottom: 5px;
    }
    
    .title h2 {
      font-size: 20px;
      margin-top: 5px;
    }
    
    .form-label {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    
    .form-control {
      height: 50px;
      font-size: 20px;
      border-radius: 10px;
      border: 2px solid #ddd;
      margin-bottom: 20px;
      padding: 10px;
    }
    
    .botones {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    
    .btn {
      height: 50px;
      font-size: 20px;
      border-radius: 10px;
      border: 2px solid #ddd;
      padding: 10px 20px;
      margin: 0 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .btn:hover {
      color: #000000;
    }
    
    .btn-outline-primary {
      background-color: #ddd;
      background-color: transparent;
    }
    
    .btn-outline-primary:hover {
      color: #fff;
      background-color: #007bff;
    }
    
    .btn-warning {
      color: #fff;
      background-color: #ffc107;
    }
    
    .btn-warning:hover {
      color: #fff;
      background-color: #e0a800;
    }
    
  